Create a Survey
<div id="create_survey">
  <form action="/survey/create" method="POST">
    <input type="text" name="survey[title]">
    <input type="submit" id="title_submit_button">
  </form>
</div>
