<div id="create_survey">
  <h2>Create a Survey</h2>
  <form action="/survey/create" method="POST">

    <div class="create-survey-left">

      <button class="add_question">Add Question</button>
      <button class="add_choice">Add Choice</button>
      <input type="submit" id="title_submit_button">
    </div>

    <div class="create-survey-right">
      <p>Title:</p>
      <input type="text" name="title">

      <div class="questions">
      </div>

    </div>
  </form>
</div>







