Create a Survey
<div id="create_survey">
  <form action="/survey/create" method="POST">
    <input type="text" name="title">
    <input type="submit" id="title_submit_button">

    <div class="question">
      <input type="text" name="question">
    </div>

    <div class="choices">
      <div class="choice">
        Choice:<input type="text" name="">
      </div>
    </div>

  </form>
</div>

<button class="add_question">Add Question</button>

<button class="add_choice">Add Choice</button>



