<div id="create_survey">
  <h2>Create a Survey</h2>
  <form action="/survey/create" method="POST">

    <div class="create-survey-left">
      <div class="choice">
        Choice:<input type="text" name="">
      </div>
      <button class="add_question">Add Question</button>
      <button class="add_choice">Add Choice</button>
      <input type="submit" id="title_submit_button">
    </div>

    <div class="create-survey-right">
      <p>Title:</p>
      <input type="text" name="title">

      <div class="question">
        Question:<input type="text" name="question">
      </div>

      <div class="choices">
      </div>

    </div>
  </form>
</div>







