<div class="title">
  <h2><%= @survey.title %></h2>
</div>

<div id="survey-questions">
  <ul>
    <% @survey.questions.each do |question| %>
      <li><%= question.name %></li>
        <ul>
          <% question.choices.each do |choice| %>
            <li class="question-choices"><%= choice.name %>: <%= choice.answers.count %></li>
          <% end %>
        </ul>
    <% end %>
  </ul>
</div>
