<h1><%= @survey.title %></h1>

<div id="survey-questions">
  <ul>
    <% @survey.questions.each do |question| %>
      <li><%= question.name %></li>
        <ul>
          <% question.choices.each do |choice| %>
            <li><%= choice.name %>: <%= choice.answers.count %></li>
          <% end %>
        </ul>
    <% end %>
  </ul>
</div>
