<!-- <div id="login">
  <a href="/login">Login</a>
</div>

<div class="login_form hidden">
  <form action="/login" method="POST">
  User Name
  <input type="text" name="user[name]">
  <br><br>
  Password
  <input type="password" name="user[password]">
  <input type="submit" value="login">
  </form>
</div> -->

