<div id="signup_form">
  <form action="/signup" method="POST">
    Name: <input type="text" name="user[name]"><br>
    Password: <input type="password" name="user[password]"><br>
    Confirm Password: <input type="password" name="user[password_confirmation]">
    <input type="Submit">
  </form>
</div>
