<div id="signup_form">
  <form action="/signup" method="POST">
    <div id="username">
      Name: <input type="text" name="user[name]">
    </div>
    <div id="password">
      Password: <input type="password" name="user[password]">
    </div>
    <div id="password">
      Confirm Password: <input type="password" name="user[password_confirmation]">
    </div>
    <div class="submit">
      <input type="Submit">
    </div>
  </form>
</div>
